<div class="container margin-navbar">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
            <div class="card mt-5 p-5 box-shadow-full">
                <div class="row mb-3">
                    <div class="col-sm-12 col-lg-6">
                        <img class="img-fluid rounded" src="assets/images/projects/accountant/accountant_portfolio.png" alt="banner">
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <h5 class="title-left mb-4 pt-4 pt-lg-0">
                            Accountant
                        </h5>
                        <p class="lead-custome">
                            <strong>Accountant</strong> es una aplicación creada en <strong>Java</strong>, <strong>Spring Boot</strong> y <strong>Thymeleaf</strong> enfocada en mantener el
                            orden y control de las operaciones y recursos <strong>financieros</strong> de manera simple.<br>
                            <br>
                            Registra todos y cada uno de los <strong>movimientos de dinero</strong> (efectivo y transferencias) que se realizan y presenta una <strong>serie de reportes</strong>
                            que ayudan a la <strong>toma de decisiones financieras</strong>.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6 skill-mf">
                        <p class="title-s">Tecnolog&iacute;as:</p>
                        <span>Java</span> <span class="pull-right">100%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span>Spring Boot</span> <span class="pull-right">100%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span>Thymeleaf</span> <span class="pull-right">100%</span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="about-info">
                            <p><span class="title-s">Propuesta y desarrollo: </span> <span>Miguel Villa</span></p>
                            <p><span class="title-s">A&ntilde;o: </span> <span>2021</span></p>
                            <p><span class="title-s">Cliente: </span> <span>* Requerimiento propio</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="project-explanation mt-5">
                <div class="row">
                    <div class="col-12 offset-md-2 col-md-8 text-center">
                        <figure class="figure">
                            <a href="assets/images/projects/accountant/landing_page.png" target="_blank">
                                <img src="assets/images/projects/accountant/landing_page.png" class="figure-img img-fluid img-thumbnail" alt="">
                            </a>
                            <figcaption class="figure-caption">Figura 1 | Página de inicio.</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 offset-md-2 col-md-8 text-center">
                        <figure class="figure">
                            <a href="assets/images/projects/accountant/calendar.png" target="_blank">
                                <img src="assets/images/projects/accountant/calendar.png" class="figure-img img-fluid img-thumbnail" alt="">
                            </a>
                            <figcaption class="figure-caption">Figura 2 | Calendario.</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 offset-md-2 col-md-8 text-center">
                        <figure class="figure">
                            <a href="assets/images/projects/accountant/graphic.png" target="_blank">
                                <img src="assets/images/projects/accountant/graphic.png" class="figure-img img-fluid img-thumbnail" alt="">
                            </a>
                            <figcaption class="figure-caption">Figura 3 | Gráfico compendio movimientos por meses.</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 offset-md-2 col-md-8 text-center">
                        <figure class="figure">
                            <a href="assets/images/projects/accountant/responsive_design_1.png" target="_blank">
                                <img src="assets/images/projects/accountant/responsive_design_1.png" class="figure-img img-fluid img-thumbnail" alt="">
                            </a>
                            <figcaption class="figure-caption">Figura 4 | Diseño responsivo 1.</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 offset-md-2 col-md-8 text-center">
                        <figure class="figure">
                            <a href="assets/images/projects/accountant/responsive_design_2.png" target="_blank">
                                <img src="assets/images/projects/accountant/responsive_design_2.png" class="figure-img img-fluid img-thumbnail" alt="">
                            </a>
                            <figcaption class="figure-caption">Figura 5 | Diseño responsivo 2.</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="mb-5"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-xl-10">
            <app-portfolio></app-portfolio>
        </div>
    </div>
</div>